@import url('https://fonts.cdnfonts.com/css/anonymous-clippings');


.footer {
    position: absolute; 
    bottom: 0;
    left: 0;
    background-image: url('./images/logo-texte-devoxx-france-400.png');
    background-size: cover;
    background-repeat: no-repeat;
    height: 49px;
    width: 400px;
}    

.line-through{text-decoration:line-through}

.reveal h1 {
    color: white;
    font-family: 'Anonymous Clippings', sans-serif;
    font-size: 1.3em;
}

.reveal h2 {
    text-transform: none;
}

@keyframes skew-x-shakeng {
    0% { transform: skewX(-15deg); }
    5% { transform: skewX(15deg); }
    10% { transform: skewX(-15deg); }
    15% { transform: skewX(15deg); }
    20% { transform: skewX(0deg); }
    100% { transform: skewX(0deg); }
}

@keyframes horizontal-shaking {
    0% { transform: translateX(0) }
    25% { transform: translateX(5px) }
    50% { transform: translateX(-5px) }
    75% { transform: translateX(5px) }
    100% { transform: translateX(0) }
}

section[data-state="glitch"] h2 {
    animation: skew-x-shakeng 0.20s infinite;
}

section[data-state="panic"] h2 {
    animation: horizontal-shaking 0.20s infinite;
}

.reveal pre code {
    max-height: 580px;
}

.reveal section div img {
    border: 0;
    box-shadow: none;
}

.reveal section[data-state="screens"] div img {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}