@import url('https://fonts.cdnfonts.com/css/anonymous-clippings');

.reveal h1 {
    color: white;
    font-family: 'Anonymous Clippings', sans-serif;
    font-size: 1.3em;
}

.reveal pre code {
    max-height: 580px;
}

.reveal section div img {
    border: 0;
    box-shadow: none;
}